h3{
    text-align: center
}
#txtInput,#txtdesc,.txtInput{
    min-height: 30px;
    line-height: 30px;
    display: block;
    margin-top: 30px;
    width: 90%;
    padding: 5px;
    word-break: break-all;
    word-wrap: break-word;
}
#txtdesc{
    border:1px solid red;
}
#btnChangP{
    border-radius: 5px;
    width: 100px;
    line-height: 30px;
    background: chocolate;
    color: white;
    border: none;
    border: 1px solid #ccc;
    margin-top: 30px;
}

.contentBox {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}
h1,
h2,
h3 {
    padding: 8px;
    word-break: break-all;
    word-wrap: break-word;
    border:1px solid black;
}
button {
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    border: none;
    border: 1px solid #ccc;
    background: chocolate;
    color: white;
    border: none;
    border: 1px solid #ccc;
    margin: 30px auto;
}